.bg-box {
  width: 1200px;
  height: 700px;
  outline: 2px solid green;
  margin: auto;
  background-color: green;
  background-image: url(" https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg"),
    url("../Image/green-png-44873.png"), url("../Image/lamp-png-34914.png"),
    url("https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/Ёжик.png/revision/latest?cb=20180209130328&path-prefix=ru"),
    url("https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png");
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
  background-position: center, bottom, top, left, right;
  background-size: 500px, 450px, 50px, 50px, 50px;
}
